<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>LaBagarre</title>
    
</head>

<body>
   
    <nav>
        <ul class="nav-list">
            <li class="nav-item"> LaBagarre </li>
           <li class="nav-item"> Bienvenue bagarreur <%= sessionName %> </li>
           <li class="nav-item">  <img class="imgMonnaie" src="/monnaie.png" title="Monnaie">  <%= bagarreur1.argent %> </li>  
           <li class="nav-item"> <a href="boutique">  Boutique </a> </li>
           <li class="nav-item"> <a href="listeBagarreurs">  Listes des bagarreurs </a> </li>
           <li class="nav-item"> <a href="logout">Déconnexion</a> </li>
        </ul>
    </nav>


    <div>

         <%- combat %> 

    </div>

</body>
</html> 